
// Converted Variables


// Custom Media Query Variables


body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.body {
  font-family: 'Open Sans', sans-serif;
}

.en {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  margin-top: 10px;
  /*margin-right: 20px;*/
  opacity: 1;
}
.en2 {
  margin-top: 52px;
}

.menu {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 120px;
  background-color: #fff;
  box-shadow: none;
  transition: 200ms ease all;

  &.scrolled{
    border-bottom: 1px solid rgba(0,0,0,0.4);
  }
}

.logo-menu {
  width: 250px;
  margin-top: 14px;
}

.nav-menu {
  height: 90px;
  padding-top: 30px;
  padding-right: 13px;
  padding-left: 13px;
  font-size: 14px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-menu:hover {
  height: 90px;
  border-bottom: 3px solid #be3a29;
  color: #000;
}

.nav-menu.w--current {
  padding-right: 13px;
  padding-left: 13px;
}

.nav-menu.language {
  width: 25px;
  height: 23px;
  margin-top: 38px;
  padding: 2px 4px 4px;
  background-color: #cec9c8;
  color: #fff;
  font-size: 9px;
  font-weight: 600;
  text-align: center;
}

.nav-menu.sociais2.w--current {
  text-transform: none;
}

.sec-slide {
  padding-top: 120px;
}

.setas-slide {
  width: 50px;
  height: 50px;
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 17px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .12);
  font-size: 14px;
}

.setas-slide:hover {
  background-color: rgba(0, 0, 0, .38);
}

.pag-slide {
  font-size: 9px;
  line-height: 30px;
}

.slider {
  height: 730px;
}

.con-brasmacol {
  padding-top: 50px;
  padding-bottom: 40px;
}

.font-40 {
  font-size: 26px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
}

.div-traco {
  display: block;
  width: 180px;
  height: 15px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border-bottom: 3px solid #c41111;
}
.div-traco-2 {
  display: block;
  width: 180px;
  height: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  border-bottom: 3px solid #c41111;
}

.sec-conceito {
  height: 300px;
  background-color: #fff;
}

.cont-conceito {
  padding-top: 60px;
}

.font-40-2 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
}

.font14 {
  padding-top: 30px;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  text-align: left;
}

.font14.txtservicos {
  color: #0e0c0c;
}

.font14.centromobile.font30espc {
  line-height: 30px;
}

.img-slide {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.slide2 {
  background-image: url('../images/300_1550.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide1 {
  background-image: url('../images/fb-brasmacol-capa.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sec-produtos {
  padding-top: 15px;
}

.con-produtos {
  padding-top: 30px;
}

.con-produtos.con-videos {
  padding-top: 60px;
}

.sec-endereco {
  padding-bottom: 0px;
  background-color: white;
  width: 100%;
}

.con-edereco {
  padding-bottom: 0px;
}

.div-produtos {
  height: auto;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
}

.font18 {
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.representantes {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
}

.end-representantes {
  color: #333;
  font-size: 13px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  text-transform: none;
}

.tel-representantes {
  color: #333;
  font-size: 12px;
  text-align: left;
}

.clear-representantes {
  height: 30px;
}

.pbagenciaweb {
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0%, 81%, .79);
  font-size: 11px;
  line-height: 60px;
  text-align: center;
}

.font14-2 {
  font-weight: 600;
}

.font14-2.sociais {
  padding-top: 15px;
}

.font12 {
  color: #969494;
  font-size: 12px;
  line-height: 20px;
  text-decoration: underline;
}

.btnsubmit {
  margin-right: -9px;
  float: right;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .08);
  background-color: #fdfdfd;
  color: #444;
  font-size: 11px;
  text-align: center;
}

.btnsubmit.btntrabalhe {
  margin-right: 5px;
}

.font40-3 {
  padding-top: 40px;
  font-size: 40px;
  line-height: 40px;
  font-style: italic;
  font-weight: 600;
}

.desc-componentes {
  padding-top: 45px;
  line-height: 25px;
}

.btncomponentes {
  margin-top: 40px;
  border: 1px solid #c9c3c3;
  border-radius: 5px;
  background-color: #fff;
  color: #444;
}

.btncomponentes:hover {
  background-color: #f1eeee;
}

.font14-3 {
  padding-bottom: 30px;
  color: #333;
}

.sociais2 {
  font-family: Socicon, sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 80px;
  font-style: normal;
  text-align: center;
}

.sociais2.w--current {
  padding-top: 40px;
}

.clear {
  height: 80px;
}

.clear.clear2 {
  height: 20px;
}

.tit {
  padding-top: 30px;
  color: #fff;
  font-size: 18px;
  text-align: left;
}

.tit.tit2 {
  color: #0f0d0d;
}

.txt-slide1 {
  padding-top: 133px;
  color: #fff;
  font-size: 40px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .17);
}

.txt-slide1-2 {
  padding-top: 11px;
  color: #fff;
}

.txt-slide1-2.slidenoticia {
  padding-top: 15px;
  font-size: 16px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, .72);
}

.tabs {
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px 13px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .08);
  background-color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 200ms ease all;

  &:hover{
    background-color: rgba(0,0,0, .1);
  }
}

.tabs.w--current {
  padding: 10px 13px;
  background-color: #333;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}

.tabs.tab-contato {
  width: 240px;
  background-color: rgba(0, 0, 0, .07);
}

.tab-content {
  padding: 20px;
}

.font14-4 {
  padding-bottom: 15px;
  color: #969494;
  font-size: 16px;
  font-weight: 700;
}

.slideempresa {
  height: 330px;
}

.clearempresa {
  height: 20px;
}

.bgslideempresa {
  background-color: #fff;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
  background-attachment: scroll;
}

.bgslideempresa.bf2 {
  background-image: none;
  background-size: auto;
  background-attachment: scroll;
}

.bgslideempresa.bg3 {
  background-image: url('../images/fundo3.jpg');
  background-size: cover;
}

.pagslidempresa {
  padding-top: 10px;
  font-size: 9px;
}

.tab {
  text-align: center;
}

.field-form {
  float: left;
  font-size: 11px;
  font-weight: 400;
}

.field-form.font10 {
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.input-form {
  width: 80%;
  margin-left: 83px;
  text-align: left;
}

.input-form.input-soma {
  width: 40px;
}

.form-trabalhe {
  display: block;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

.col-esq {
  padding-left: 202px;
}

.col-esq.col-contato {
  padding-left: 152px;
}

.font10 {
  font-size: 12px;
}

.clear-contato {
  height: 30px;
}

.font12-1 {
  padding-bottom: 15px;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

.colunas-tecnologia {
  padding-top: 0px;
}

.img-tec {
  display: block;
  height: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.slide3 {
  background-image: url('../images/300_1588.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.fontarearestrita {
  font-size: 12px;
  line-height: 60px;
  text-align: center;
}

.font14-5 {
  line-height: 25px;
}

.font14-5.txt3 {
  padding-top: 29px;
  padding-left: 115px;
  text-align: justify;
}

.font14-5.txt-novidade {
  padding-top: 10px;
}

.font14-5.font14-5-2 {
  text-align: justify;
}

.slideempresa1 {
  height: 250px;
  background-image: url('../images/^18CDC159D5FE78B8E3006C991C9EA2230269740A5E0DA8C933^pimgpsh_fullsize_distr.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slideempresa2 {
  height: 200px;
  background-image: url('../images/^E287F387725CC8F4CB93789BFED2F40647051D11A472A39BF6^pimgpsh_fullsize_distr.jpg');
  background-position: 50% 50%;
  background-size: 512px;
}

.navslideempresa {
  font-size: 10px;
}

.img-tec2 {
  display: block;
  height: 270px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.img-serv {
  display: block;
  height: 180px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 67px;
}

.sliderempresa {
  height: 200px;
}

.slidenovidades {
  height: 320px;
  background-color: transparent;
}

.slidenovidades.slidecatalogo {
  height: 180px;
}

.nav-novidades {
  font-size: 9px;
}

.tit-novidade {
  color: #333;
}

.datanovidade {
  color: #c7bfbf;
  font-size: 10px;
}

.tab-pane1 {
  margin-top: 16px;
}

.img-novidades {
  height: 211px;
}

.div-todos {
  display: block;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.bgproduto {
  height: 306px;
}

.bgproduto.gavetas-1 {
  height: 306px;
  background-image: url('../images/gaveta-9.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.porta-1 {
  background-image: url('../images/porta-0.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.moldura-1 {
  background-image: url('../images/moldura-19.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.gavetas-folding {
  background-image: url('../images/gaveta-5.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.gavetas-revestidas {
  background-image: url('../images/gaveta-7.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.gavetas-pintadas {
  background-image: url('../images/gaveta-6.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.tiras-gavetas {
  background-image: url('../images/gaveta-10.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.frentes-gavetas {
  background-image: url('../images/gaveta-4.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.porta-vidro {
  background-image: url('../images/porta-5.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.porta-5pecas {
  background-image: url('../images/porta-4.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.porta-quadros {
  background-image: url('../images/porta-0.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}


.bgproduto.muldura-acabamento {
  background-image: url('../images/moldura-8.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.moldura-engrossamento {
  background-image: url('../images/moldura-17.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.moldura-estruturacao {
  background-image: url('../images/moldura-11.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.moldura-aplique {
  background-image: url('../images/moldura-14.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.bgproduto.moldura-canto {
  background-image: url('../images/moldura-9.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.h3-produtos {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px 4px;
  padding: 20px;
  background-color: rgba(0, 0, 0, .77);
  color: #fff;
  line-height: 260px;
  font-weight: 400;
  text-align: center;
}

.clear-produtos {
  height: 10px;
}

.slidevideos {
  height: 420px;
  background-color: transparent;
}

.clearvdeos {
  height: 20px;
}

.usa-map {
  padding: 5px;
  background-color: #e9e9e9;
}

.tit-produto {
  padding-top: 18px;
  padding-bottom: 15px;
  font-size: 18px;
  text-align: left;
}

.desc-produto {
  margin-bottom: 30px;
  color: rgba(51, 51, 51, .68);
  line-height: 25px;
  text-align: justify;
}

.img-produto {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.slide-produto {
  height: auto;
  margin-top: 19px;
  background-color: transparent;
}

.seta {
  color: rgba(0, 0, 0, .4);
}

.video-produto {
  height: auto;
  margin-top: 89px;
}

.mask {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.font14-6 {
  margin-bottom: 40px;
  color: #787878;
  line-height: 25px;
  text-align: center;
}

.font14-6-2 {
  margin-bottom: 20px;
  color: #787878;
  line-height: 25px;
  text-align: center;
}


.img-novidades2 {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.slide-novidades {
  height: auto;
  background-color: #fff;
}

html.w-mod-js *[data-ix="hover-produtos"] {
  opacity: 0;
}

@media (max-width: 991px) {
  .nav-menu {
    height: 40px;
    line-height: 20px;
    text-align: center;
  }
  .font-40 {
    line-height: 28px;
  }
  .font14 {
    padding-top: 15px;
    font-size: 14px;
    line-height: 20px;
  }
  .font14.centromobile {
    padding-top: 72px;
  }
  .con-produtos {
    padding-top: 60px;
  }
  .clear {
    height: 50px;
  }
  .slideempresa {
    height: auto;
  }
  .slideempresa.bg3 {
    height: 380px;
  }
  .pagslidempresa.centromobile {
    padding-top: 38px;
  }
  .col-esq {
    padding-left: 80px;
  }
  .col-esq.col-contato {
    padding-left: 40px;
  }
  .menumobile {
    padding-top: 41px;
  }
  .menumobile.w--open {
    margin-top: 41px;
    padding-top: 20px;
  }
  .bgmenumobile {
    padding-bottom: 40px;
    background-color: #f7f7f7;
  }
  .slidenovidades {
    height: 320px;
  }
  .img-novidades {
    height: auto;
  }
  .bgproduto.gavetas-1 {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.porta-1 {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.moldura-1 {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.gavetas-folding {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.gavetas-revestidas {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.gavetas-pintadas {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.tiras-gavetas {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.frentes-gavetas {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.porta-vidro {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.porta-5pecas {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.porta-quadros {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.muldura-acabamento {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.moldura-engrossamento {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.moldura-estruturacao {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.moldura-aplique {
    height: 250px;
    background-size: 96%;
  }
  .bgproduto.moldura-canto {
    height: 250px;
    background-size: 96%;
  }
  .h3-produtos {
    line-height: 220px;
  }
}

@media (max-width: 767px) {
  .font14 {
    margin-right: 80px;
    margin-left: 80px;
  }
  .font14.centromobile {
    margin-right: 90px;
    margin-left: 90px;
    padding-top: 40px;
  }
  .representantes {
    text-align: center;
  }
  .end-representantes {
    text-align: center;
  }
  .tel-representantes {
    text-align: center;
  }
  .pbagenciaweb {
    text-align: center;
  }
  .font14-2.sociais {
    text-align: center;
  }
  .btnsubmit {
    margin-right: 16px;
  }
  .sociais2 {
    text-align: center;
  }
  .tit {
    margin-right: 90px;
    margin-left: 90px;
  }
  .txt-slide1 {
    margin-right: 90px;
    margin-left: 90px;
    padding-top: 50px;
  }
  .txt-slide1-2 {
    margin-right: 90px;
    margin-left: 90px;
  }
  .txt-slide1-2.slidenoticia {
    margin-right: 90px;
    margin-left: 90px;
    padding-top: 30px;
  }
  .col-esq.col-contato {
    margin-bottom: 30px;
    padding-left: 10px;
  }
  .font10 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .font12-1 {
    text-align: center;
  }
  .clearrepresentantes {
    height: 40px;
  }
  .font14-5.txt3 {
    padding-bottom: 30px;
    padding-left: 0px;
  }
  .font14-5.font14-5-2 {
    padding-bottom: 30px;
  }
  .img-serv {
    padding-right: 0px;
  }
  .mapacontato {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .slidenovidades {
    height: 300px;
  }
  .slidenovidades.slidecatalogo {
    height: 1300px;
  }
  .tit-novidade {
    margin-top: 30px;
    text-align: center;
  }
  .datanovidade {
    text-align: center;
  }
  .img-novidades {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: left;
  }
  .bgproduto.gavetas-1 {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.porta-1 {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.moldura-1 {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.gavetas-folding {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.gavetas-revestidas {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.gavetas-pintadas {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.tiras-gavetas {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.frentes-gavetas {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.porta-vidro {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.porta-5pecas {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.porta-quadros {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.muldura-acabamento {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.moldura-engrossamento {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.moldura-estruturacao {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.moldura-aplique {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.moldura-canto {
    height: 300px;
    margin-bottom: 30px;
  }
  .bgproduto.produtobranco {
    height: 10px;
  }
  .h3-produtos {
    line-height: 260px;
  }
  .slidevideos {
    height: 2200px;
  }
  .usa-map {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .catalogobranco {
    height: 10px;
  }
  .img-catalogo {
    display: block;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
  }
  .slide-catalogo {
    height: 900px;
  }
}

@media (max-width: 479px) {
  .btnsubmit.btntrabalhe {
    margin-right: -18px;
  }
  .tab-content {
    padding-left: 0px;
  }
  .slideempresa.bg3 {
    height: 380px;
  }
  .input-form {
    width: 75%;
  }
  .form-trabalhe {
    width: 90%;
  }
  .col-esq {
    padding-left: 0px;
  }
  .col-esq.col-contato {
    padding-left: 10px;
  }
  .slidenovidades {
    height: 1050px;
  }
  .slidenovidades.slidecatalogo {
    height: 1050px;
  }
  .slidevideos {
    height: 1330px;
  }
}

@font-face {
  font-family: 'Socicon';
  src: url('../fonts/socicon.woff2') format('undefined'), url('../fonts/socicon.eot') format('embedded-opentype'), url('../fonts/socicon.woff') format('woff'), url('../fonts/socicon.ttf') format('truetype'), url('../fonts/socicon.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}