@media screen and (max-width: 992px){
	.btn{
		padding: 1em 1.5em;
	}

	#sobre-conteudo{
		.sobre-timeline{
			.btn{
				&:not(:last-of-type){
					&:after{
						right: -35%;
					}
				}
			}
		}
	}

	#sobre-conteudo{
		.historia-texto{
			padding: 1em;
		}

		.sobre-lista{
			li{
				.texto{
					width: 80%;
					br{
						display: none;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px){
	br{
		display: none;
	}

	#footer{
		.icon-logo-brasmacol{
			display: block;
			margin: 1em auto;
		}

		.social{
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	
	}

	.tabs{
		width: 90%;
   		margin: 0.5em auto;
	}
	
	.form{
		text-align: center;
		label:first-of-type{
			.label{
				margin: 2em 0 0.5em 0;
			}
		}

		.label{
			display: block;
			margin: 0.5em 0;
		}

		input{
			width: 100%;
		}
		.btn{
			margin-top: 1em;
		}
	}

	#interna{
		.interna-videos{
			iframe{
				height: 160px;
			}
		}
	}

	#sobre-conteudo{
		.historia-texto{
			padding: 1em;
		}

		.sobre-lista{
			li{
				.icon{
					width: 55px;
					height: 55px;
				}

				svg{
					vertical-align: text-bottom;
				}

				.texto{
					font-size: 1.2em;
					font-weight: normal;
					margin-left: 10px;
					width: 75%;
				}
			}
		}

		.image-contain{
			height: 250px;
			.icon-iso9001{
				transform: scale(0.5,0.5) translateX(-20%) translateY(-45%);
			}
		}

		.btn-group{
			padding: 10px;
		}

		.timeline-btn{
			width: 100%;
			margin: 10px 0;
			display: block;
			padding: 0.5em;
			
			&:after{
				display: none;
			}
		}
	}

	
	.newsletter{
		input[type="text"], input[type="email"], .btn{
			width: 90%;
		}
	} 

	.catalogo-img{
		img{
			object-fit: cover;
		}
	}

	#modal{
		#modalContent{
			width: 99%;
		}
	} 
	
}

@media screen and (min-width: 768px){

	.lg-direita{
		float: right;
	}

	.tab{
		.tabs{
			width: calc(25% - 7px);
			margin-left: 0;
			text-align: center;

			&:last-of-type{
				margin-right: 0;
			}
		}
	}


	#interna{
		.tab{
			.tabs{
				width: calc(20% - 7px);
			}
		}
	}

	#home-catalogos{
		padding: 0;
		.section-title{
			& + p{
				width: 50%;
	   			margin: 0 auto;
			}
		}
	}	
}