@import "_variaveis.scss";

@keyframes fadeIn{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

#footer{
	width: 100% !important;
	max-width: 100% !important;
	padding: 2em 0;
	background: $preto;
	color: white;
}

.footer-sobre{
	color: #FFF;
}

.footer-menu{
	width: 100%;
	text-align: center;
	li{
		list-style: none;
		margin: 0.5em 0;
		&:first-of-type{
			margin-top: 0;
		}
		.f-menu-item{
			text-transform: uppercase;
			color: #FFF;
			text-decoration: none;
			&:hover{
				border-bottom: 3px solid $laranja_brand;
			}
		}
	}
}


.social{
	padding: 0;

	.social-icon{
		font-size: 5em;
		margin: 0;
		list-style: none;
		display: inline-block;
		border-radius: 5px;
		&:not(:last-of-type){
			margin-right: 0.5em;
		}
	}
}

ul{
	padding: 0;
}

ul > li{
	list-style: none;
}

img{
	max-width: 100%;
}

h3,h2,h4,h5,h6{
	font-size: 1em;
	font-weight: normal;
}

input[type="text"], input[type="email"]{
	outline: none;
	padding: 0.5em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	&:focus{
		border: 1px solid rgba(0, 0, 0, 0.5);
	}
}

/* Classes gerais */

.image-contain{
	max-width: 100%;
	overflow: hidden;
}

.uppercase{
	text-transform: uppercase;
}

.text-center{
	text-align: center;
}

.padding{
	padding-top: 2em;
	padding-bottom: 2em;
}

.link{
	text-decoration: none;
	color: $preto;
}

.btn{
	text-decoration: none;
	text-transform: uppercase;
	padding: 1em 2.5em;
	margin: 1.2em 0;
	border: 1px solid rgba(0, 0, 0, 0.08);
	color: $preto;
	transition: 200ms ease all;
	text-align: center;
    vertical-align: middle;
	cursor: pointer;

	&.transparent{
		border: 1px solid rgba(0, 0, 0, 0.3);
		background: transparent;
		outline: none;
		position: relative;
	}

	&:hover{
		background: $preto;
		color: white;
	}
}

.section{
	padding: 2em 0;
}

.form{
	text-align: right;
	.label{
		font-weight: normal;
		text-transform: uppercase;
		margin-right: 1em;
	}

	input{
		width: 60%;
	}

	.btn{
		margin: 0;
	}
}

.section-title{
	font-size: 26px;
	font-weight: lighter;
	text-transform: uppercase;
	text-align: center;
	margin: 1em 0 2em 0;

		&:after{
			content: '';
			width: 20%;
			height: 3px;
			display: block;
			text-align: center;
			margin: 0.5em auto 0 auto;
			background: $laranja_brand;
		}
}

.intro{
	width: 100%;
	padding: 2em 0;
	margin-top: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../images/brasmacol-intro-background.jpg');

	&:before{
		content: '';
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
		position: absolute;
	}
	
	.intro-titulo{
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		z-index: 1;
		color: white;
		font-weight: lighter;
		margin: 1.5em 0;

		&:after{
			content:'';
			display: block;
			height: 3px;
			background: $laranja_brand;
			width: 80%;
			margin: 5px auto 0 auto;
			position: relative;
		}
	}

	p{
		color: white;
		padding: 0 1em;
		text-align: center;
		font-size: 1.2em;
		font-weight: lighter;
	}

	.w-container{
		z-index: 1;
	}
}

#interna_intro{
	.intro-titulo{
		margin: 0 0 1em 0;
		&:after{
			width: 15%;
		}
	}
}

/* Produtos */

#produtos{
	padding: 2em 0;
}

#interna{
	padding: 2em 0;

	.interna-videos{
		text-align: center;
		iframe{
			width: 100%;
			height: 500px;
		}
	}
}


/* SOBRE A EMPRESA */

#sobre-conteudo{

	.sobre-img{
		&:first-of-type{
			margin-right: 10px;
			width: calc(45% - 10px);
		}
		width: 55%;
		height: 25vh;
		display: inline-block; 
		float: left;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	p{
		font-size: 1.2em;
	}


	.sobre-lista{
		padding: 0;
		span{
			display: inline-block;
		}

		li{
			margin: 1em 0;

			svg{
				width: 60px;
				height: 60px;
				vertical-align: middle;
			}

			.texto{
				margin-left: 5px;
				font-size: 1.4em;
			}
		}
	}

	.sobre-timeline{
		.btn{
			&:not(:last-of-type){
				margin-right: 20px;
				&:after{
					content: '';
					width: 25px;
					height: 1px;
					background: rgba(0, 0, 0, 0.3);
					position: absolute;
					top: calc(50% - 1px);
					right: -25%;
				}
			}

			&.active{
				background-color: $preto;
				color: white;
			}
		}
	}

	.historia_tab{
		display: none;
		opacity: 0;
		visibility: hidden;
		&.active{
			display: block;
			animation: fadeIn 500ms; 
			visibility: visible;
			opacity: 1;
		}

		iframe{
			display: block;
		    margin: 0 auto;
		    width: 100%;
		    text-align: center;
		    height: 40vh;
		}
	}
}

/* NOVIDADES */

#novidades{
	.pesquisar{
		font-weight: lighter;
		margin-right: 0.5em;
	}
	.w-row{
		&:nth-of-type(even){
			margin: 1em 0;
		}
	}

	.nov-item{
		text-decoration: none;
		color: $preto;

		.data{
			font-size: 0.9em;
			font-weight: lighter;
		}
	}

}
.newsletter{
	h3{
		font-size: 1.2em;
	}

	input[type="text"], input[type="email"]{
		padding: 0.8em 0.5em;
	}
	input[type="text"], input[type="email"], .btn{
		width: 30%;
	}
}

/* VIDEOS */

#videos{
	.video{
		h2,h3,h4{
			font-weight: normal;
		}
	}
}

#home-catalogos{
	padding: 0 10px;
	.section-title{
		margin-bottom: 0.8em;
	}
}

.catalogo-img{
	width: 100%;
	height: 220px;
	position: relative;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&.produtos{
		height: 260px;
	}

	&:hover{
		.catalogo-categoria{
			background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 1));
		}
	}

	.catalogo-categoria{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 2em;
		width: 100%;
		background: linear-gradient(to bottom, rgba(0,0,0, 0), rgba(0,0,0, 0.9));

		.titulo{
			color: white;
			font-size: 1.2em;
			text-shadow: 0 2px 4px rgba(0,0,0,0.5);
		}
	}
}

.form-catalogos{

	label{
		&:last-of-type{
			margin-bottom: 1.5rem;
		}
	}

	.input{
		display: block;
		margin: 0 auto;
	}
	
	.label{
		display: block;
		margin: 0.5rem auto;
		text-align: center;
	}

	.btn{
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}


#modal{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1001;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	display: none;
	
	&.active{
		display: flex;
		animation: fadeIn 500ms;
	}

	#modalContent{
		width: 50%;
		padding: 2em;
		background: white;
		position: relative;
		box-shadow: 0 6px 12px rgba(0,0,0,0.3);

		#modalClose{
			text-align: right;

			.btn-close{
				width: 50px;
				height: 50px;
				position: relative;
				display: inline-block;
				cursor: pointer;

				&:before, &:after{
					content: '';
					width: 60%;
					height: 3px;
					position: absolute;
					left: 50%;
					top: 50%;
					background: $preto;
					pointer-events: none;
				}	

				&:before{
					transform: translateX(-50%) translateY(-50%) rotate(45deg);
				}

				&:after{
					transform: translateX(-50%) translateY(-50%) rotate(-45deg);
				}
			}
		}

		#modalForm{
			padding: 10px;
			
			.titulo{
				font-size: 1.4rem;
				text-transform: uppercase;
				margin-bottom: 1rem;
				margin-top: 0;
			}

			#solicitar-contato{
				width: 100%;
				text-align: center;

				.input{
					display: block;
					width: 80%;
					margin: 0.5rem auto;
					padding: 0.5rem;
					border: 1px solid rgba(0, 0, 0, 0.3);
					&:focus{
						border: 1px solid rgba(0, 0, 0, 0.9);
					}

					&.textarea{
						resize: none;
						outline: none;
					}
				}

				.send{
					width: 80%;
				}
			}
		}
	}
}