@media screen and (max-width: 992px) {
  .btn {
    padding: 1em 1.5em; }
  #sobre-conteudo .sobre-timeline .btn:not(:last-of-type):after {
    right: -35%; }
  #sobre-conteudo .historia-texto {
    padding: 1em; }
  #sobre-conteudo .sobre-lista li .texto {
    width: 80%; }
    #sobre-conteudo .sobre-lista li .texto br {
      display: none; } }

@media screen and (max-width: 768px) {
  br {
    display: none; }
  #footer .icon-logo-brasmacol {
    display: block;
    margin: 1em auto; }
  #footer .social {
    display: block;
    margin: 0 auto;
    text-align: center; }
  .tabs {
    width: 90%;
    margin: 0.5em auto; }
  .form {
    text-align: center; }
    .form label:first-of-type .label {
      margin: 2em 0 0.5em 0; }
    .form .label {
      display: block;
      margin: 0.5em 0; }
    .form input {
      width: 100%; }
    .form .btn {
      margin-top: 1em; }
  #interna .interna-videos iframe {
    height: 160px; }
  #sobre-conteudo .historia-texto {
    padding: 1em; }
  #sobre-conteudo .sobre-lista li .icon {
    width: 55px;
    height: 55px; }
  #sobre-conteudo .sobre-lista li svg {
    vertical-align: text-bottom; }
  #sobre-conteudo .sobre-lista li .texto {
    font-size: 1.2em;
    font-weight: normal;
    margin-left: 10px;
    width: 75%; }
  #sobre-conteudo .image-contain {
    height: 250px; }
    #sobre-conteudo .image-contain .icon-iso9001 {
      -webkit-transform: scale(0.5, 0.5) translateX(-20%) translateY(-45%);
      -ms-transform: scale(0.5, 0.5) translateX(-20%) translateY(-45%);
      transform: scale(0.5, 0.5) translateX(-20%) translateY(-45%); }
  #sobre-conteudo .btn-group {
    padding: 10px; }
  #sobre-conteudo .timeline-btn {
    width: 100%;
    margin: 10px 0;
    display: block;
    padding: 0.5em; }
    #sobre-conteudo .timeline-btn:after {
      display: none; }
  .newsletter input[type="text"], .newsletter input[type="email"], .newsletter .btn {
    width: 90%; }
  .catalogo-img img {
    object-fit: cover; }
  #modal #modalContent {
    width: 99%; } }

@media screen and (min-width: 768px) {
  .lg-direita {
    float: right; }
  .tab .tabs {
    width: -webkit-calc(25% - 7px);
    width: calc(25% - 7px);
    margin-left: 0;
    text-align: center; }
    .tab .tabs:last-of-type {
      margin-right: 0; }
  #interna .tab .tabs {
    width: -webkit-calc(20% - 7px);
    width: calc(20% - 7px); }
  #home-catalogos {
    padding: 0; }
    #home-catalogos .section-title + p {
      width: 50%;
      margin: 0 auto; } }
