/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-iso9001 {
  background-image: url(../images/brasmacol-sprite.png);
  background-position: 0px 0px;
  width: 375px;
  height: 460px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-logo-brasmacol {
  background-image: url(../images/brasmacol-sprite.png);
  background-position: -375px 0px;
  width: 250px;
  height: 60px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-logo-facebook {
  background-image: url(../images/brasmacol-sprite.png);
  background-position: -375px -60px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-logo-linkedin {
  background-image: url(../images/brasmacol-sprite.png);
  background-position: -425px -60px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-logo-youtube {
  background-image: url(../images/brasmacol-sprite.png);
  background-position: -475px -60px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  display: inline-block;
}
