@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#footer {
  width: 100% !important;
  max-width: 100% !important;
  padding: 2em 0;
  background: #333333;
  color: white; }

.footer-sobre {
  color: #FFF; }

.footer-menu {
  width: 100%;
  text-align: center; }
  .footer-menu li {
    list-style: none;
    margin: 0.5em 0; }
    .footer-menu li:first-of-type {
      margin-top: 0; }
    .footer-menu li .f-menu-item {
      text-transform: uppercase;
      color: #FFF;
      text-decoration: none; }
      .footer-menu li .f-menu-item:hover {
        border-bottom: 3px solid #be3a29; }

.social {
  padding: 0; }
  .social .social-icon {
    font-size: 5em;
    margin: 0;
    list-style: none;
    display: inline-block;
    border-radius: 5px; }
    .social .social-icon:not(:last-of-type) {
      margin-right: 0.5em; }

ul {
  padding: 0; }

ul > li {
  list-style: none; }

img {
  max-width: 100%; }

h3, h2, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal; }

input[type="text"], input[type="email"] {
  outline: none;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  input[type="text"]:focus, input[type="email"]:focus {
    border: 1px solid rgba(0, 0, 0, 0.5); }

/* Classes gerais */
.image-contain {
  max-width: 100%;
  overflow: hidden; }

.uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center; }

.padding {
  padding-top: 2em;
  padding-bottom: 2em; }

.link {
  text-decoration: none;
  color: #333333; }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 2.5em;
  margin: 1.2em 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
  color: #333333;
  -webkit-transition: 200ms ease all;
  transition: 200ms ease all;
  text-align: center;
  vertical-align: middle;
  cursor: pointer; }
  .btn.transparent {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    outline: none;
    position: relative; }
  .btn:hover {
    background: #333333;
    color: white; }

.section {
  padding: 2em 0; }

.form {
  text-align: right; }
  .form .label {
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 1em; }
  .form input {
    width: 60%; }
  .form .btn {
    margin: 0; }

.section-title {
  font-size: 26px;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0 2em 0; }
  .section-title:after {
    content: '';
    width: 20%;
    height: 3px;
    display: block;
    text-align: center;
    margin: 0.5em auto 0 auto;
    background: #be3a29; }

.intro {
  width: 100%;
  padding: 2em 0;
  margin-top: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/brasmacol-intro-background.jpg"); }
  .intro:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute; }
  .intro .intro-titulo {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
    color: white;
    font-weight: lighter;
    margin: 1.5em 0; }
    .intro .intro-titulo:after {
      content: '';
      display: block;
      height: 3px;
      background: #be3a29;
      width: 80%;
      margin: 5px auto 0 auto;
      position: relative; }
  .intro p {
    color: white;
    padding: 0 1em;
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter; }
  .intro .w-container {
    z-index: 1; }

#interna_intro .intro-titulo {
  margin: 0 0 1em 0; }
  #interna_intro .intro-titulo:after {
    width: 15%; }

/* Produtos */
#produtos {
  padding: 2em 0; }

#interna {
  padding: 2em 0; }
  #interna .interna-videos {
    text-align: center; }
    #interna .interna-videos iframe {
      width: 100%;
      height: 500px; }

/* SOBRE A EMPRESA */
#sobre-conteudo .sobre-img {
  width: 55%;
  height: 25vh;
  display: inline-block;
  float: left;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #sobre-conteudo .sobre-img:first-of-type {
    margin-right: 10px;
    width: -webkit-calc(45% - 10px);
    width: calc(45% - 10px); }

#sobre-conteudo p {
  font-size: 1.2em; }

#sobre-conteudo .sobre-lista {
  padding: 0; }
  #sobre-conteudo .sobre-lista span {
    display: inline-block; }
  #sobre-conteudo .sobre-lista li {
    margin: 1em 0; }
    #sobre-conteudo .sobre-lista li svg {
      width: 60px;
      height: 60px;
      vertical-align: middle; }
    #sobre-conteudo .sobre-lista li .texto {
      margin-left: 5px;
      font-size: 1.4em; }

#sobre-conteudo .sobre-timeline .btn:not(:last-of-type) {
  margin-right: 20px; }
  #sobre-conteudo .sobre-timeline .btn:not(:last-of-type):after {
    content: '';
    width: 25px;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    right: -25%; }

#sobre-conteudo .sobre-timeline .btn.active {
  background-color: #333333;
  color: white; }

#sobre-conteudo .historia_tab {
  display: none;
  opacity: 0;
  visibility: hidden; }
  #sobre-conteudo .historia_tab.active {
    display: block;
    -webkit-animation: fadeIn 500ms;
    animation: fadeIn 500ms;
    visibility: visible;
    opacity: 1; }
  #sobre-conteudo .historia_tab iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    height: 40vh; }

/* NOVIDADES */
#novidades .pesquisar {
  font-weight: lighter;
  margin-right: 0.5em; }

#novidades .w-row:nth-of-type(even) {
  margin: 1em 0; }

#novidades .nov-item {
  text-decoration: none;
  color: #333333; }
  #novidades .nov-item .data {
    font-size: 0.9em;
    font-weight: lighter; }

.newsletter h3 {
  font-size: 1.2em; }

.newsletter input[type="text"], .newsletter input[type="email"] {
  padding: 0.8em 0.5em; }

.newsletter input[type="text"], .newsletter input[type="email"], .newsletter .btn {
  width: 30%; }

/* VIDEOS */
#videos .video h2, #videos .video h3, #videos .video h4 {
  font-weight: normal; }

#home-catalogos {
  padding: 0 10px; }
  #home-catalogos .section-title {
    margin-bottom: 0.8em; }

.catalogo-img {
  width: 100%;
  height: 220px;
  position: relative;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .catalogo-img.produtos {
    height: 260px; }
  .catalogo-img:hover .catalogo-categoria {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
    background: -webkit-linear-gradient(top, transparent, black);
    background: linear-gradient(to bottom, transparent, black); }
  .catalogo-img .catalogo-categoria {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.9));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9)); }
    .catalogo-img .catalogo-categoria .titulo {
      color: white;
      font-size: 1.2em;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.form-catalogos label:last-of-type {
  margin-bottom: 1.5rem; }

.form-catalogos .input {
  display: block;
  margin: 0 auto; }

.form-catalogos .label {
  display: block;
  margin: 0.5rem auto;
  text-align: center; }

.form-catalogos .btn {
  margin: 0 auto;
  display: block;
  text-align: center; }

#modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none; }
  #modal.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: fadeIn 500ms;
    animation: fadeIn 500ms; }
  #modal #modalContent {
    width: 50%;
    padding: 2em;
    background: white;
    position: relative;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); }
    #modal #modalContent #modalClose {
      text-align: right; }
      #modal #modalContent #modalClose .btn-close {
        width: 50px;
        height: 50px;
        position: relative;
        display: inline-block;
        cursor: pointer; }
        #modal #modalContent #modalClose .btn-close:before, #modal #modalContent #modalClose .btn-close:after {
          content: '';
          width: 60%;
          height: 3px;
          position: absolute;
          left: 50%;
          top: 50%;
          background: #333333;
          pointer-events: none; }
        #modal #modalContent #modalClose .btn-close:before {
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg); }
        #modal #modalContent #modalClose .btn-close:after {
          -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
          transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
    #modal #modalContent #modalForm {
      padding: 10px; }
      #modal #modalContent #modalForm .titulo {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin-top: 0; }
      #modal #modalContent #modalForm #solicitar-contato {
        width: 100%;
        text-align: center; }
        #modal #modalContent #modalForm #solicitar-contato .input {
          display: block;
          width: 80%;
          margin: 0.5rem auto;
          padding: 0.5rem;
          border: 1px solid rgba(0, 0, 0, 0.3); }
          #modal #modalContent #modalForm #solicitar-contato .input:focus {
            border: 1px solid rgba(0, 0, 0, 0.9); }
          #modal #modalContent #modalForm #solicitar-contato .input.textarea {
            resize: none;
            outline: none; }
        #modal #modalContent #modalForm #solicitar-contato .send {
          width: 80%; }
